extends layout

block content
    img.mealticket2(img src='images/mealticket.png')
    img.drinks(img src='images/drinks.jpg')
    .center
      h1 Meal Ticket
      h2 Grocery Lists Made Easy
      .enter
        a(href='./shoppingList') Get Started